html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* ===== App Theme ===== */

body {
    background-color: #f6e9d7;
}

.app-header {
    background-color: #f0d9b5;
}

.app-card {
    background-color: #fff6e8;
    border-radius: 10px;
}

.app-table thead {
    background-color: #f0d9b5;
}

/* ===== Status colors ===== */
.status-working {
    background-color: #4caf50;
    color: white;
}

.status-repair {
    background-color: #f4a261;
    color: white;
}

.status-disposed {
    background-color: #e63946;
    color: white;
}
