@using BusinessLayer
@model User
@{
    ViewData["Title"] = "Редактиране на потребител";
    var roles = ViewBag.Roles as SelectList;
}

<div class="form-container">
    <h2>Редактиране на потребител</h2>
    <hr />

    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Име </label>
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Имейл </label>
                    <input asp-for="Email" type="email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label">Телефонен номер </label>
                    <input asp-for="PhoneNumber" type="email" class="form-control" required />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-between mt-4">
            <a class="btn btn-secondary" asp-action="Index">
                <i class="fas fa-arrow-left me-2"></i>Назад
            </a>
            <button type="submit" class="btn btn-custom">
                <i class="fas fa-save me-2"></i>Запази
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}