@using BusinessLayer
@using Microsoft.AspNetCore.Identity

        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <i class="fas fa-school me-2"></i>Управление на училищен инвентар
                </a>
                <div class="d-flex align-items-center">
                    <a class="btn btn-login" asp-area="Identity" asp-page="/Account/Login">
                        <i class="fas fa-sign-in-alt me-2"></i>Вход
                    </a>
                </div>
            </div>
        </nav>
